/* <div id="gameContainer">
  <div id="pixel1" class="pixel"></div>
  <div id="pixel2" class="pixel"></div>
  ...
</div> */

/* <style> */
  #gameContainer {
    height: 400px; 
    width: 400px;
    display: grid;
    grid-template-columns: repeat(40, 1fr);
    grid-template-rows: repeat(40, 1fr);
    border: 1px solid black;
  }
  .pixel {
    border: 1px solid gray;
  }
/* </style> */

/* Your CSS Code here. */